*{
    margin-top: 0px;
    margin-bottom: 0px;
}
#navigation{
    background-color: rgb(76, 76, 158);
    height: 50px;
    text-align: center;
    color: white;
}
#list{
    display: inline;
}
#unordered{
    display: inline;
    padding-right: 30px;
}
home{
    width: 10px;
    height: 10px;
}
#home{
    width: 30px;
    height: 20px;
    padding-top: 12px;
    padding-right: 10px;
}
#anna{
    color: rgb(76, 76, 158);
    font-size:xx-large;
    padding-top: 5px;
}
#annalogo{
    width: 110px;
    height: 110px;
    float: left;
    padding-left: 400px;
    padding-right: 50px;
    padding-top: 5px;
}
#box{
    display: inline;
}
#description{
    display: inline;
    padding-right: 35px;
}
select{
    border: 0px solid white;
}
#jubilee{
    text-align: center;
    color:darkcyan;
}
#university{
    width: 100%;
    height: 650px;
}
#old{
    position: absolute;
    top: 37%;
    left: 20%;
    color: white;
    font-size: x-large;
}
#news{
    position: absolute;
    top: 70%;
    color: white;
    background-color: red;
    height: 30px;
    width: 120px;
}
#room{
    padding-right: 5px;
}
#vc{
    position: absolute;
    top: 74%;
    color: white;
    background-color: purple;
    height: 30px;
    width: 120px;
}
#gallery{
    padding-right: 5px;
}
#alum{
    position: absolute;
    top: 78%;
    color: white;
    background-color: blue;
    height: 30px;
    width: 120px;
}
#degree{
    padding-right: 5px;
}
#quick{
    position: absolute;
    top: 82%;
    color:white;
    background-color: darkcyan;
    height: 30px;
    width: 120px;
}
#chain{
    padding-right: 5px;
}
#bird{
    position: absolute;
    top: 70%;
    left: 96%;
}
#tube{
    position: absolute;
    top: 77%;
    left: 96%;
}
#chat{
    position: absolute;
    top: 83%;
    left: 96%;
}
a{
    text-decoration:none;
}

marquee{
    color:blue;
    font-size: 50px;

}
